<app-page-header [title]="'Analyis Dashboard'" [items]="['Dashboard']" [active_item]="'Dashboard'"> </app-page-header>

<div class="row row-sm">
  <div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="row row-sm">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-2">
        <div class="card custom-card">
          <div class="card-body">
            <div class="card-item">
              <div class="card-item-icon bg-success-transparent">
                <i class="fa fa-light fa-heart fa-lg"></i>
              </div>
              <div class="card-item-title mb-2">
                <label class="main-content-label tx-13 mb-1">Total Likes</label>
              </div>
              <div class="card-item-body">
                <div class="card-item-stat">
                  <h4 class="font-weight-normal">{{ likesCount | number }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card custom-card">
          <div class="card-body">
            <div class="card-item">
              <div class="card-item-icon bg-info-transparent">
                <i class="fa fa-brands fa-twitter fa-lg"></i>
              </div>
              <div class="card-item-title mb-2">
                <label class="main-content-label tx-13 mb-1">Total Retweets</label>
              </div>
              <div class="card-item-body">
                <div class="card-item-stat">
                  <h4 class="font-weight-normal">{{ retweetCount | number }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card custom-card">
          <div class="card-body">
            <div class="card-item">
              <div class="card-item-icon bg-warning-transparent">
                <i class="fa fa-thin fa-users fa-lg"></i>
              </div>
              <div class="card-item-title mb-2">
                <label class="main-content-label tx-13 mb-1">Total Followers</label>
              </div>
              <div class="card-item-body">
                <div class="card-item-stat">
                  <h4 class="font-weight-normal">{{ followersCount | number }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10">
        <div class="card custom-card overflow-hidden">
          <div class="card-header border-bottom d-flex">
            <div>
              <h3 class="card-title tx-18"><label class="main-content-label tx-15">Popular Hashtags</label></h3>
            </div>
          </div>
          <div class="card-body">
            <!-- <div id="salessummary"></div> -->
            <apx-chart
              *ngIf="fifaData.length"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis"
              [labels]="chartOptions.labels"
              [stroke]="chartOptions.stroke"
              [dataLabels]="chartOptions.dataLabels"
              [colors]="chartOptions.colors"
              [grid]="chartOptions.grid"
              [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <!--End row-->
  </div>
</div>

<div class="row row-sm">
  <div class="col-md-6 col-lg-6 col-xl-6">
    <div class="card custom-card overflow-hidden">
      <div class="card-header border-bottom">
        <div>
          <h3 class="card-title tx-18"><label class="main-content-label tx-15">Tweet Source</label></h3>
        </div>
      </div>
      <div class="card-body pb-0">
        <apx-chart *ngIf="tweetSource.length" [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels" [fill]="pieChart.fill" [stroke]="pieChart.stroke" [responsive]="pieChart.responsive"></apx-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-6">
    <div class="card custom-card overflow-hidden">
      <div class="card-header border-bottom">
        <div>
          <h3 class="card-title tx-18"><label class="main-content-label tx-15">Most Tweet Countries</label></h3>
        </div>
      </div>
      <div class="card-body pb-0">
        <apx-chart *ngIf="tweetCountries.length" [series]="radarChart.series" [chart]="radarChart.chart" [labels]="radarChart.labels" [fill]="radarChart.fill" [stroke]="radarChart.stroke" [responsive]="radarChart.responsive"></apx-chart>
      </div>
    </div>
  </div>
</div>

<div class="row row-sm">
  <div class="col-md-6 col-lg-6 col-xl-6">
    <div class="card custom-card overflow-hidden">
      <div class="card-header border-bottom">
        <div>
          <h3 class="card-title tx-18"><label class="main-content-label tx-15">Most Tweet Language</label></h3>
        </div>
      </div>
      <div class="card-body pb-0">
        <apx-chart
          *ngIf="tweetLanguage.length"
          [series]="pieChartForLanguage.series"
          [chart]="pieChartForLanguage.chart"
          [labels]="pieChartForLanguage.labels"
          [fill]="pieChartForLanguage.fill"
          [stroke]="pieChartForLanguage.stroke"
          [responsive]="pieChartForLanguage.responsive"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
